    <!-- Download Section -->
    <section id="uin" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>UIN SUSKA RIAU</h2>
                    <p>UIN SUSKA RIAU merupakan ...</p><br>
                    <p>VISIT LINK :</p>
                    <a href="http://uin-suska.ac.id" class="btn btn-default btn-lg">UIN SUSKA RIAU</a><br>
                    
                    <a href="http://fst.uin-suska.ac.id" class="btn btn-default btn-lg">FAKULTAS SAINS DAN TEKNOLOGI UIN SUSKA RIAU</a><br>
                    
                    <a href="http://sif.uin-suska.ac.id" class="btn btn-default btn-lg">SISTEM INFORMASI UIN SUSKA RIAU</a>
            </div>
            </div>
        </div>
    </section>
