    <!-- Download Section -->
    <section id="uin" class="content-section text-center">
        <div class="download-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2">
                    <h2>UIN SUSKA RIAU</h2>
                    <p> Universitas Islam  Negara Sultan  Syarif Kasim (UIN Suska) Riau merupakan hasil pengembangan / peningkatan status pendidikan dari 
                        institute Agama  Islam Negara (IAIN) Sultan Syarif Qasim Pekanbaru yang secara resmi dikukuhkan berdasarkan peraturan presiden RI
                        Nomor 2 tahun 2005 tanggal 4 januari 2005 tentang Perubahan IAIN
                        Sultan Syarif Qasim Pekanbaru menjadi UIN Sultan Syarif Kasim Riau dan diresmikan pada 9 Februari 2005 oleh Presiden RI,Bapak Dr.H.
                        Susilo Bambang Yudhoyono sebagai tindak lanjut perubahan status ini, menteri Agama RI menetapkan Organisasi dan Tata kerja UIN Suska 
                        Riau berdasarkan Peraturan Menteri Agama RI Nomor 8 Tahun 2005 tanggal 4 April 2005.
            Institutet Agama Islam Negeri Sulthan   Syarif Qasim (IAIN Susqa) Pekanbaru sebagai cikal bakal UIN Suska Riau, didikan pada tanggal 19 September
                        1970 berdasarkan Surat Keputusan Menteri Agama Republik Indonesia Nomor 194 tahun 1970 .Institut ini diresmikan berdirinya oleh Menteri Republik Indonesia K.H. Ahmad Dahlan pada tanggal 19 september 1970 berupa penandatanganan piagam dan pelantikan Rektor yang pertama, Prof.H. Ilyas Muhammad Ali./p><br>
                    <p>VISIT LINK :</p>
                    <a href="http://uin-suska.ac.id" target="_blank" class="btn btn-default btn-lg">UIN SUSKA RIAU</a><br>
                    <br>
                    <a href="http://fst.uin-suska.ac.id" target="_blank" class="btn btn-default btn-lg">FAKULTAS SAINS DAN TEKNOLOGI UIN SUSKA RIAU</a><br>
                    <br>
                    <a href="http://sif.uin-suska.ac.id" target="_blank" class="btn btn-default btn-lg">SISTEM INFORMASI UIN SUSKA RIAU</a>
            </div>
            </div>
        </div>
    </section>
